{% extends 'base.html.twig' %}
{# @var \App\Entity\Vehiculo[] $vehiculos #}
{% block title %}Bienvenido{% endblock %}

{% block body %}
    <h1 id="bienvenido"> {{ 'Bienvenido' }}</h1>
    <a href="{{ path('app_nuevo', {  }) }}" class="new float-right">Nuevo Vehiculo</a>

    <form action="#">
        <label for="q">Filtrar</label>
        <input type="search" name="q" placeholder="Buscar">
        <input type="submit" value="Filtrar" class="btn btn-success">
    </form>


    <table class="table">
        <thead>
        <tr>
            <th>Tipo</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Color</th>
            <th>Matricula</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for vehiculo in vehiculos %}
            <tr>
                <td>{{ vehiculo['tipo'] }}</td>
                <td>{{ vehiculo['marca'] }}</td>
                <td>{{ vehiculo['modelo'] }}</td>
                <td>{{ vehiculo['color'] }}</td>
                <td>{{ vehiculo['matricula'] }}</td>
                <td>
                    <a href="{{ path('app_ver', { 'id': vehiculo['id'] }) }}" class="show"
                       id="ver_{{ vehiculo['id'] }}">Ver</a>
                    <a href="{{ path('app_edit', { 'id': vehiculo['id'] }) }}" id="edit_{{ vehiculo['id'] }}"
                       class="edit">Editar</a>
                    <a href="{{ path('app_rematricular', { 'id': vehiculo['id'] }) }}" class="btn btn-secondary"
                       id="rematricular_{{ vehiculo['id'] }}">Rematricular</a>
                    <a href="{{ path('app_vender', { 'id': vehiculo['id'] }) }}" id="vender_{{ vehiculo['id'] }}"
                    class="btn btn-danger" {#  onclick="return confirm('¿Desea vender este vehiculo?');"#}>Vender</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
